<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilos.css"><!--  se llaman los estilos directamente del css -->
    <link rel="shortcut icon" href="../img/logotipo-de-playstation.png" type="image/x-icon"><!--se llama un enlace para el logotipo de la pagina-->
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--se llaman los fondos directamente desde google font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    
    <title>Noticias</title><!--Se le da un titulo al home-->
</head>
<body class="trasFondo">
    <header>
        <div class="contenedorNav"><!--llamo en esta etiqueta div una clase llamada contenedor nav para que sea llamada en el css-->
            <nav>
                <div class="imagen"><!--llamo en esta etiqueta div una clase llamada contenedor nav para que sea llamada en el css-->
                    <h1>
                        <a href="../index.html">PLAYGAMES ART<img src="../img/espada.png" alt="imagenespada"></a><!--logo de la pagina dirigido a el home-->
                    </h1>
                </div>
                <div class="menu"><!--Defino la clase menú y tambien la lista que me va a definir mi menú Principal-->
                    <ul>
                        <li><a href="../index.html"> Home </a></li>
                        <li><a href="./clasesdejuegos.html"> Clases de juegos </a></li>
                        <li><a href="./precios.html"> Precios </a></li>
                        <li><a href="./noticias.html"> Noticias </a></li>
                        <li><a href="./contactos.html"> Contactanos </a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="tituloPrecios"><!--defino mi titulo-->
        <h2 class="subtituloPrecios"><!--llame a la clase asi ya que la reutilice del css-->
            Noticias
        </h2>
    </div>
    <div id="grid"><!--contenedor de grid-->
        <div class="container">
            <h2> 
                Cuentas <!--subtitulo-->
            </h2>
            <aside class="cardPrecioUno"><!--class cargada como un contenedor-->
                    <img src="../img/playstationplus.jpg" alt="imagenPSP"><!--imagen -->
                    <div class="textCambioUno">
                        <h3 class="su"> PlayStationPlus </h3><!--esto es hecho para cada clase de aquí abajo-->
                        <p class="precioDos"> PlayStation Plus una de las mejores cuentas que te ayudará a obtener más juegos en el mes y en el año.</p>
                    </div>
            </aside>
            <aside class="cardPrecioUno">
                <img src="../img/play-station-network.jpg" alt="imagenPSN">
                <div class="textCambioUno">
                    <h3 class="su"> PlayStation Network </h3>
                    <p class="precioDos"> PlayStation Network es un tipo de cuenta que me permite estar unido a todas las cuentas después de que este registrado en ella.</p>
                </div>
            </aside>
            <aside class="cardPrecioUno">
                <img src="../img/psn.jpeg" alt="imagenPS">
                <div class="textCambioUno">
                    <h3 class="su"> PlayStation Store </h3>
                    <p class="precioDos"> PlayStation Store es un tipo de cuenta que se asocia con el PlayStation Network y permite que después que el usuario cree su cuenta, él pueda descargar lo que necesite de ella.</p>
                </div>
            </aside>
            <aside class="cardPrecioUno">
                <img src="../img/simbolos.jpg" alt="imagenPS">
                <div class="textCambioUno">
                    <h3 class="su"> PlayStation </h3>
                    <p class="precioDos">El PlayStation es una marca muy reconocida, con sus símbolos que las representan estas cuentas son muy importantes para su total funcionamiento y descargas de juegos virtuales, también se debe tener en cuenta que existieron cuando apenas surgió el PlayStation3.</p>
                </div>
            </aside>
        </div>
        <div class="container2">
            <article class="texto">
                <h2>Sony anuncia que se vendran más juegos para el PlayStation 4 y PlayStation 5</h2>
                <img src="../img/noticia.jpg" alt="imagenNoticiasony">
                <p> La compañía de Sony ha anunciado el día de hoy a que se inaugurarán nuevos juegos, no han sido muy claros con el día ni la hora pero el estreno de estos video juegos dejara a sus seguidores de varios personajes reconocidos por la Play muy animados a seguir viendo la historia de sus personajes favoritos.</p>
            </article>

            <hr>
            
            <article class="textoUno">
                <h2>Fifa acaba de anunciar la alianza que obtendrá con el catálogo de EA Play</h2>
                <img src="../img/fi.jpg" alt="imagenNoticiafifa">
                <p> El famoso juego de fifa21 ha decidido contar con el catálogo de EA Play, se rumora que fue algo que ya se habia planeado hace mucho tiempo, pero faltaban pocos detalles para concretarlo, ya que esto es un hecho los jugadores de este juego podrán disfrutar viendo sus futbolistas favoritos.</p>
            </article>

            <hr>

            <article class="textoUno">
                <h2>Fornite el juego que está causando revuelo en todos sus usuarios</h2>
                <img src="../img/forn.jpg" alt="imagenNoticiafornite">
                <p> Al parecer fornite uno de los mejores juegos de la historia está causando un poco de revuelo en sus usuarios al parecer el juego ha avanzado tanto que los jóvenes se interesan más en el, según un reportaje dictado para la empresa Epic Games este juego ha sido uno de los más vendidos en su mercado.</p>
            </article>
        </div>
    </div>
    <footer><!--Definición del Footer-->
        <div class="red">
            <ul>
                <li class="redesSociales"><a href="https://www.instagram.com/"><img src="../img/Instagram.png" alt="icono1"></a></li> 
                <li class="redesSociales"><a href="https://web.whatsapp.com/"><img src="../img/Whatsapp.png" alt="icono2"></a></li> 
                <li class="redesSociales"><a href="https://www.facebook.com/"><img src="../img/facebook.png" alt="icono3"></a></li>
                <li class="redesSociales"><a href="https://twitter.com/?lang=es"><img src="../img/twitter.png" alt="icono4"></a></li>
                
                <div class="parrafos">
                    <p>Términos de uso y Condiciones</p> <p>© Derechos Reservados </p>
                </div>
            </ul>
        </div>
    </footer>
</body>
</html>