<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilos.css"><!--  se llaman los estilos directamente del css -->
    <link rel="shortcut icon" href="../img/logotipo-de-playstation.png" type="image/x-icon"><!--se llama un enlace para el logotipo de la pagina-->
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--se llaman los fondos directamente desde google font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet"><!--no se pone en las siguientes-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    
    <title>Precios</title><!--Se le da un titulo al home-->

</head>
<body class="fondo">
        <header>
            <div class="contenedorNav"><!--llamo en esta etiqueta div una clase llamada contenedor nav para que sea llamada en el css-->
                <nav>
                    <div class="imagen"><!--llamo en esta etiqueta div una clase llamada contenedor nav para que sea llamada en el css-->
                        <h1>
                            <a href="./index.html">PLAYGAMES ART<img src="./img/espada.png" alt="imagenespada"></a><!--logo de la pagina dirigido a el home-->
                        </h1>
                    </div>
                    <div class="menu"><!--Defino la clase menú y tambien la lista que me va a definir mi menú Principal-->
                        <ul>
                            <li><a href="../index.html"> Home </a></li>
                            <li><a href="./clasesdejuegos.html"> Clases de juegos </a></li>
                            <li><a href="./precios.html"> Precios </a></li>
                            <li><a href="./noticias.html"> Noticias </a></li>
                            <li><a href="./contactos.html"> Contactanos </a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="tituloPrecios">
            <h2 class="subtituloPrecios">
                PRECIOS
            </h2>
        </div>
    <div id="contenedor"><!--Defino estas etiquetas con las clases ya que ellas me van a ayudar a contener las imagenes puestas en la clase contenedor-->
        <main class="contenedorImg"><!--De aquí para abajo estan definidas las clases que van a ayudar a través de grid contener las imagenes, en texto y sus debidos precio-->
            <div class="organizarImagenes">
                <article class="cardPrecio"><!--Define las caracteristicas de los juegos-->
                        <img src="../img/The_lastUs.jpg" alt="imagenthelast"><!--link de la imagen-->
                    <div class="textCambio">
                        <h3>The last of Us 2</h3>
                            <p class="precio">Price USD 24.00</p>                
                    </div>
                </article>
                <article class="cardPrecio">
                    <img src="../img/bandicoot.jpg" alt="imagencrash">
                    <div class="textCambio">
                    <h3> Crash Bandicoot</h3>
                    <p class="precio">Price USD 30.50</p>
                    </div>
                </article>
                <article class="cardPrecio">
                    <img src="../img/uncharted.jpg" alt="imagenuncharted">
                    <div class="textCambio">
                        <h3> Uncharted 4 </h3>
                        <p class="precio">Price USD 22.30</p>
                    </div>
                </article>
                <article class="cardPrecio">
                    <img src="../img/spiderman.jpg" alt="imagenspiderman">
                    <div class="textCambio">
                        <h3> Spider-man </h3>
                            <p class="precio">Price USD 20.10</p>
                    </div>
                </article>
                <article class="cardPrecio">
                    <img src="../img/god-of-war.jpg" alt="imagengodofwar">
                    <div class="textCambio">
                        <h3> god of war </h3>
                        <p class="precio">Price USD 15.30</p>
                    </div>
                </article>
                <article class="cardPrecio">
                    <img src="../img/shadow-of-the-tomb-raider.jpg" alt="imagentombraider">
                    <div class="textCambio">
                        <h3> Tomb Raider </h3>
                        <p class="precio">Price USD 10.30</p>
                    </div>
                </article> 
                <article class="cardPrecio">
                    <img src="../img/colosus.jpg" alt="imagenshadowcolosus">
                    <div class="textCambio">
                        <h3> Shadow of Colossus </h3>
                        <p class="precio"> Price USD 12.50</p>
                        </div>    
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/horizonz.jpg" alt="imagenHorizonzero">
                        <div class="textCambio">
                            <h3> Horizon Zero Down </h3>
                            <p class="precio"> Price USD 23.68</p> 
                        </div>    
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/Red-Dead-Redemption-2.jpg" alt="imagenreddead">
                        <div class="textCambio">
                            <h3> Read Dead 2</h3>
                            <p class="precio"> Price USD 25.10</p>
                        </div>    
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/warzone.jpg" alt="imagenwarzone" id="warzone">
                        <div class="textCambio">
                            <h3> Call Of Dutty War </h3>
                            <p class="precio"> Price USD 27.18</p>
                        </div>    
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/watch_dogs.jpg" alt="imagenwatchdogs">
                        <div class="textCambio">
                            <h3> Watch Dogs Legion </h3>
                            <p class="precio"> Price USD 21.55 </p>
                        </div>    
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/grand.jpg" alt="imagengrandtheftauto">
                        <div class="textCambio">
                            <h3> Grand Theft Auto V </h3>
                            <p class="precio"> Price USD 32.00</p>
                        </div>    
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/fifa.png" alt="imagenfifa" >
                        <div class="textCambio">
                            <h3> Fifa 21 </h3>
                            <p class="precio"> Price USD 35.30</p>
                        </div>
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/nba.jpg" alt="imagennba">
                        <div class="textCambio">
                            <h3> Nba 2021 </h3>
                            <p class="precio"> Price USD 25.70</p>
                        </div>
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/Tony.jpg" alt="imagentony">
                        <div class="textCambio">
                            <h3> Tony Hawk´s 2 </h3>
                            <p class="precio"> Price USD 22.10</p>
                        </div>
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/UFC.jpg" alt="imagenUfc4">
                        <div class="textCambio">
                            <h3> Ufc 4 </h3>
                            <p class="precio"> Price USD 18.50 </p>
                        </div>
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/pes.jpg" alt="imagenpes21">
                        <div class="textCambio">
                            <h3> Pes 21 </h3>
                            <p class="precio"> Price USD 14.70</p>
                        </div>
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/mlb.jpg" alt="imagenmlb">
                        <div class="textCambio">
                            <h3> MLB the show </h3>
                            <p class="precio"> Price USD 12.00</p>
                        </div>
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/far cry5.jpg" alt="imagenfarcry">
                        <div class="textCambio">
                            <h3> Far Cry 5 </h3>
                            <p class="precio"> Price USD 26.70</p>
                        </div>
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/Death-Stranding.jpg" alt="imagendeath" >
                        <div class="textCambio">
                            <h3> Death Stranding </h3>
                            <p class="precio"> Price USD 11.20</p>
                        </div>
                    </article>
            </div>
        </main>
            <div class="contenedorLado"><!--Aside contenedor del lado derecho que se define con una clase y en css es transformado con una grilla para que me de los descuentos-->
                <aside>
                    <div class="subtituloLado">
                        <h3 class="subtiPrecio">
                            DESCUENTOS
                        </h3>
                    </div>
                    <article class="cardPrecio">
                        <img src="../img/fornite.jpg" alt="imagenfonite">
                        <div class="textCambio">
                            <h3> Fornite </h3>
                            <p class="precio"> Price USD <span> 18.60 </span> <br> Now 8.60</p>
                        </div>
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/ghost.jpg" alt="imagenghost">
                        <div class="textCambio">
                            <h3> Ghost of Tsushima </h3>
                            <p class="precio"> Price USD <span> 22.10 </span> <br> Now 12.10</p>
                        </div>
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/Spidermanmiles.jpg" alt="imagenspidermiles">
                        <div class="textCambio">
                            <h3> Spiderman Miles </h3>
                            <p class="precio"> Price USD <span> 23.70 </span> <br> Now 13.00</p>
                        </div>
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/days.jpg" alt="imagendays">
                        <div class="textCambio">
                            <h3> Days Gone </h3>
                            <p class="precio"> Price USD <span> 29.90</span> <br> Now 19.90</p>
                        </div>
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/crash-ban.jpg" alt="imagencrash">
                        <div class="textCambio">
                            <h3> Crash Bandicoot <br> It´s About Time </h3>
                            <p class="precio"> Price USD <span> 30.99</span> <br> Now 20.00</p>
                        </div>
                    </article>
                    <article class="cardPrecio">
                        <img src="../img/Ghost-Recon.jpg" alt="imagenrecon">
                        <div class="textCambio">
                            <h3> MLB the show </h3>
                            <p class="precio"> Price USD <span>23.00</span> <br> Now 13.00</p>
                        </div>
                    </article>
                </aside>
            </div>
            <div class="widgets1"><!--en estos widgets se contienen dos imagenes de dos PlayStation distintos-->
                <article>
                    <p> PLAY 5 </p> 
                </article>
            </div>
            <div class="widgets2">    
                <article>
                    <p> PLAY 4 </p> 
                </article>
            </div>
    </div>
    <footer><!--Definición del Footer-->
        <div class="red">
            <ul>
                <li class="redesSociales"><a href="https://www.instagram.com/"><img src="../img/Instagram.png" alt="icono1"></a></li> 
                <li class="redesSociales"><a href="https://web.whatsapp.com/"><img src="../img/Whatsapp.png" alt="icono2"></a></li> 
                <li class="redesSociales"><a href="https://www.facebook.com/"><img src="../img/facebook.png" alt="icono3"></a></li>
                <li class="redesSociales"><a href="https://twitter.com/?lang=es"><img src="../img/twitter.png" alt="icono4"></a></li>
                
                <div class="parrafos">
                    <p>Términos de uso y Condiciones</p> <p>© Derechos Reservados </p>
                </div>
            </ul>
        </div>
    </footer>
</body>
</html>